{{- define "main" }}

<header class="page-header">
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>

{{- if .Content }}
<div class="post-content">
  {{ .Content }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}

{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true"  }}
{{- end }}

{{- $paginator := .Paginate $pages }}

{{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
{{- partial "home_info.html" . }}
{{- end }}

{{- $term := .Data.Term }}
{{- range $index, $page := $paginator.Pages }}

<ul class="post-entry">
  <li class="entry-header">
    <div class="meta">    
      {{- .Date.Format "02-01-2006" }}
    </div>
    <span>
      <a class="entry-link" href="{{ .Permalink }}">{{- .Title }}</a>
    </span>
  </li>
</ul>
{{- end }}

{{- end }}{{- /* end main */ -}}
